<form action="/posts/send_subject" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	

	<input type="submit" value="Next" id="continue" class="btn btn-success">
</form>

<%= @grades %>