<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- registration -->
				<div class="col-md-6">
					<form action="/users/create" method="post">
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="form-group">
							<label for="first_name">First Name:</label>
							<input type="text" name="first_name" id="first_name" class="form-control">
						</div>
						<div class="form-group">
							<label for="last_name">Last Name:</label>
							<input type="text" name="last_name" id="last_name" class="form-control">
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" name="email" id="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" name="password" id="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="password_confirmation">Re-enter Password:</label>
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control">
						</div>
						<div class="form-group">
							<label for="role">Role:</label>
							<select name="role" id="role" class="form-control">
								<option value="0">Teacher</option>
								<option value="1">Student</option>
							</select>
						</div>
						<div class="form-group">
							<input type="submit" value="Create Account" class="btn btn-success">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>	
</div>