<html>
<head>
	<title>Add New Curriculum</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="/posts/send_grade" method="post" id="form_question">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<select name="question" id="question">
							<% @grades.each do |grade| %>
								<option value="<%= grade.id %>"><%= grade.level %></option>
							<% end %>
						</select>
						<input type="submit" value="Next" id="continue" class="btn btn-success">
					</form>
					
				</div>
			</div>
		</div>	
	</div>

</body>
</html>